<h1>Welcome#index</h1>
<div class="form-group">
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
</div>
<div class="form-group">
  <%= link_to '#',remote: true, id: "new-item-link", class: "btn btn-lg btn-primary round" do %> Add income
  <%end%>
  <%= link_to "#", remote: true, id: "new-item-link", class: "btn btn-lg btn-primary round" do %> Add Expenses
  <%end%>
</div>