<h1 align="center"> All Expense</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Expense</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.amount %> </td>
        <td> <%= link_to "Edit Expense", edit_expense_path(expense),class: "btn btn-xs btn-primary" %></td>
        <td><%= link_to 'Delete', expense_path(expense), method: :delete, data: {confirm: "Are you sure?"} , class: "btn btn-xs btn-warning" %></td>
      </tr>
    <% end %>
    <hr>
    <td><%= current_user.total_expense %></td>
  </tbody>
</table>
